<% title "Edit Page: #{@page.title}" %> 

<div class="container">
  <div class="section">
    <h1 class="title">Edit Page</h1>
    <%= render partial: 'form', locals: { page: @page } %>
  </div>
</div>
