<% title "Edit Page: #{@page.title}" %>

<div class="container">
  <div class="section">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><%= link_to 'Pages', admin_pages_path %></li>
        <li class="is-active"><a href="#" aria-current="page"><%= @page.title %></a></li>
      </ul>
    </nav>

    <div class="columns">
      <div class="column">
        <h1 class="title is-1">
          Edit Page
        </h1>
      </div>
      <div class="column is-narrow">
        <%= link_to 'Visit on Website', page_path(@page), class: 'button', target: '_blank' %>
      </div>
    </div>
    <%= render partial: 'form', locals: { page: @page } %>
  </div>
</div>
