<div class="container section content">
  <h1 class="title is-1">About us</h1>
  <p>
    Section 54 of the
    <a href="http://www.legislation.gov.uk/ukpga/2015/30/contents/enacted">UK Modern Slavery Act</a>
    requires commercial organisations
    that operate in the UK and have an annual turnover above £36m to produce a
    statement setting out the steps they are taking to address and prevent the
    risk of modern slavery in their operations and supply chains; it is also
    known as the Transparency in Supply Chains clause (TISC). A number of key
    stakeholders that were influential in securing the inclusion of the TISC
    clause also advocated for the Government to create a central registry that
    would host modern slavery statements. The Government has maintained its
    position that it will not establish a central registry, however, it does
    agree that such a resource would be valuable.
  </p>
  <p>
    The Modern Slavery Registry, operated and maintained by the Business &amp;
    Human Rights Resource Centre, seeks to fulfil the role left by Government.
    The Business &amp; Human Rights Resource Centre and its partners agree that
    a central registry should meet a core set of criteria. It should be:
    independent, accountable to the public interest, robust, credible, free,
    open, accessible and sustainable in the long term. A resource that meets
    these criteria will enable stakeholders to analyse whether statements are
    in compliance with the legislation and analyse the quality of reporting.
  </p>
  <p>
    This Registry is guided and supported by a governance committee which
    includes: Freedom Fund, Humanity United, Freedom United, Anti-Slavery
    International, the Ethical Trading Initiative, CORE Coalition, UNICEF UK,
    Focus on Labour Exploitation, and Oxfam GB.
  </p>
</div>
