<div class="container section content">
  <h1 class="title is-1">Contact us</h1>
  <p>
    To submit a statement please see
    <%= link_to 'here', new_company_path %>.
  </p>
  <p>
    For <strong>general enquiries</strong> please contact:
  </p>
  <p>
    Patricia Carrier - <a href="mailto:carrier@business-humanrights.org">carrier@business-humanrights.org</a>,
    +44 (0)20 7636 7774
  </p>
  <p>
    For <strong>media enquiries</strong> please contact:
  </p>
  <p>
    Joe Bardwell - <a href="mailto:bardwell@business-humanrights.org">bardwell@business-humanrights.org</a>,
    +44 (0)79666 36981
  </p>
</div>
