<div class="container section content">
  <h1 class="title is-1">Reporting Guidance and Resources</h1>
  <p>
    Section 54 of the
    <a href="http://www.legislation.gov.uk/ukpga/2015/30/contents/enacted">UK Modern Slavery Act</a>
    requires companies to produce a
    statement that describes what actions they are taking to address modern
    slavery in their operations and supply chains. This is not intended to be,
    and should be approached, as a compliance exercise. Rather, companies are
    encouraged to take the necessary time and effort to consider their existing
    processes and practices related to modern slavery, as well as labour
    standards more generally. An effective, informative and substantive
    statement will address and report on modern slavery in the context of a
    broader human rights due diligence context. The guidance provided here will
    assist companies understand stakeholders expectations of modern slavery
    statements under Section 54.
  </p>
  <ul>
    <li>
      <a href="http://corporate-responsibility.org/wp-content/uploads/2016/03/CSO_TISC_guidance_final_digitalversion_16.03.16.pdf">Beyond Compliance&nbsp;: Effective Reporting Under the Modern Slavery Act</a>, CORE Coalition
    </li>
    <li>
      <a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/471996/Transparency_in_Supply_Chains_etc__A_practical_guide__final_.pdf">Transparency in Supply Chains, etc., A Practical Guide</a>, Home Office
    </li>
    <li>
      <a href="https://business-humanrights.org/sites/default/files/documents/FTSE%20100%20Modern%20Slavery%20Act.pdf">FTSE 100 At the Starting Line: An Analysis of Company Statements Under the UK Modern Slavery Act</a>, Business &amp; Human Rights Resource Centre
    </li>
    <li>
      <a href="http://www.ethicaltrade.org/blog/new-report-and-survey-finds-modern-slavery-act-galvanising-leadership-action-in-progressive">Corporate Leadership on Modern Slavery</a>, Ethical Trading Initiative and Hult International Business School
    </li>
    <li>
      <a href="http://www.ergonassociates.net/images/stories/articles/msa_one_year_on_april_2017.pdf">Modern slavery statements: One year on</a>, Ergon Associates
    </li>
  </ul>
</div>
