<div class="container section">
  <h1 class="title">Thank you!</h1>
  <p>
    We will get back in touch with you once we have we reviewed
    and published the statement to the registry.
  </p>
  <br>
  <p>
    <%= link_to 'Submit another statement', new_company_statement_companies_path, class: 'button is-primary' %>
  </p>
</div>
