commands:
  00-poppler:
    command: "yum install -y poppler-utils poppler-data"
  01-libwebp:
    command: "yum --enablerepo=epel --disablerepo=amzn-main -y install libwebp"
  02-tesseract:
    command: "yum --enablerepo=epel -y install tesseract"
  03-node:
    command: "yum --enablerepo=epel -y install nodejs"
  04-java:
    command: "rpm --import https://yum.corretto.aws/corretto.key"
  05-java:
    command: "curl -L -o /etc/yum.repos.d/corretto.repo https://yum.corretto.aws/corretto.repo"
  06-java:
    command: "install -y java-11-amazon-corretto-devel"