commands:
  00-poppler:
    command: "yum install -y poppler-utils poppler-data"
  01-libwebp:
    command: "yum --enablerepo=epel --disablerepo=amzn-main -y install libwebp"
  02-tesseract:
    command: "yum --enablerepo=epel -y install tesseract"
  03-node:
    command: "yum --enablerepo=epel -y install nodejs"