files:
  "/opt/elasticbeanstalk/tasks/install-openjdk-12.sh" :
    mode: "000755"
    owner: root
    group: root
    content: |
      if [[ $(javac -version) != *"javac 12"* ]]
      then
        wget -q https://download.java.net/java/GA/jdk12/GPL/openjdk-12_linux-x64_bin.tar.gz
        tar -xzf openjdk-12_linux-x64_bin.tar.gz -C /opt

        alternatives --install /usr/bin/java java /opt/jdk-12/bin/java 2
        alternatives --install /usr/bin/javac javac /opt/jdk-12/bin/javac 2
        alternatives --set java /opt/jdk-12/bin/java
        alternatives --set javac /opt/jdk-12/bin/javac
        alternatives --install /usr/lib/jvm/java java_sdk /opt/jdk-12 1

        rm -rf openjdk-12*_bin.tar.gz
      fi

commands:
  install-openjdk-10:
    command: /opt/elasticbeanstalk/tasks/install-openjdk-12.sh
