<% statements.each do |statement| %>
  <div class="columns" data-content="statement">
    <div class="column">
      <% if statement.broken_url && admin? %>
        <%= image_tag('broken-link.png', size: '24') %>
      <% end %>
      <%= link_to(statement.company.name, company_statement_path(statement.company, statement), {'data-content': 'company_name'}) %>
    </div>
    <div class="column" data-content="country">
      <%= statement.company.country.name %>
    </div>
    <div class="column" data-content="sector">
      <%= statement.company.sector.nil? ? '' : statement.company.sector.name %>
    </div>
  </div>
<% end %>
