<div class="field is-horizontal">
  <div class="field-label is-normal">
    <%= f.label :url, 'Statement URL', class: 'label' %>
  </div>
  <div class="field-body">
    <div class="field is-grouped">
      <p class="control is-expanded">
        <%= f.url_field :url, class: "input#{f.object.errors[:url].any? ? ' is-danger' : ''}",
          placeholder: 'https://...'%>
      </p>
    </div>
  </div>
</div>

<% unless admin? %>
<div class="field is-horizontal">
  <div class="field-label is-normal">
    <%= f.label :contributor_email, 'Your email', class: 'label' %>
  </div>
  <div class="field-body">
    <div class="field is-grouped">
      <p class="control is-expanded">
        <%= f.email_field :contributor_email, class: "input" %>
      </p>
    </div>
  </div>
</div>
<% end %>
