<div class="container">
  <div class="section">

    <!-- TODO: If there is no company, different -->
    <h1 class="title is-1" data-content="company-name"><%= @company.name %></h1>
    <h2 class="title is-2">Submit statement</h2>

    <%= render partial: 'statement_form', locals: { company: @company, statement: @statement } %>

  </div>
</div>
