<div class="container">
  <div class="section">
    <h2 class="title is-2"><%= link_to @statement.company.name, @statement.company, 'data-content' => "company-name" %></h2>
    <h3 class="title is-3"><%= @statement.display_date %></h3>

    <div class="browser-wrapper">
      <div class="browser-navigation-bar">
        <i></i>
        <i></i>
        <i></i>
        <%= link_to @statement.url, @statement.url %>
      </div>

      <div class="browser-container">
        <iframe src="<%= @statement.url %>" frameborder="0"></iframe>
      </div>
    </div>
  </div>
</div>
