<% title "Modern Slavery Statement by #{@statement.company.name}" %>

<div class="container" data-content="statement">
  <div class="section">
    <div class="columns">
      <div class="column">
        <h1 class="title is-1">
          <%= link_to @statement.company.name, @statement.company, {'data-content': "company-name"} %>
        </h1>

        <%= render 'statements/preview', { statement: @statement } %>
      </div>
    </div>
  </div>
</div>
