<div class="card">
  <div class="card-content">
    <div class="content">
      <%= quote %>
    </div>
    <div class="media">
      <div class="media-left">
        <figure class="image is-64x64">
          <%= image_tag "#{name.gsub(' ', '-')}.jpg", alt: name %>
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4"><%= name %></p>
        <p class="subtitle is-6"><%= title %></p>
      </div>
    </div>
  </div>
</div>
