<h2 class="title is-2 has-text-centered is-turquoise-text">Statements added over time</h2>
<h3 class="title is-3 has-text-centered is-turquoise-text">Under the UK and California legislation</h3>
<div class="columns">
  <div id="total_statements_over_time" class="column">
    <canvas width="340" height="105"></canvas>
  </div>
</div>

<script>
function renderTotalStatementsOverTime(totalByMonth) {
  var $container = $(document.getElementById('total_statements_over_time'))
  var $canvas = $container.find('canvas')
  new Chart($canvas[0].getContext("2d"), {
    type: "line",
    data: {
      "labels": totalByMonth.map(function(month) { return month.label }),
      "datasets":[
        {
          "label":"Cumulative Total",
          "data": totalByMonth.map(function(month) { return month.statements }),
          "fill":false,
          "borderColor":"rgb(255, 205, 0)",
          "lineTension": 0.1,
          "yAxisID": "y-axis-1"
        },
        {
          "label":"UK Modern Slavery Act",
          "data": totalByMonth.map(function(month) { return month.uk_act }),
          "fill":false,
          "borderColor":"rgb(75, 192, 192)",
          "lineTension": 0.1,
          "yAxisID": "y-axis-1"
        },
        {
          "label":"California Transparency in Supply Chains Act",
          "data": totalByMonth.map(function(month) { return month.us_act }),
          "fill":false,
          "borderColor":"rgb(75, 192, 192)",
          "lineTension": 0.1,
          "yAxisID": "y-axis-1"
        }
      ]
    },
    options: {
      legend: { display: false },
      scales: {
        yAxes: [
          { type: 'linear',
            display: true,
            position: 'left',
            id: 'y-axis-1' }
        ],
      }
    }
  })
};

renderTotalStatementsOverTime(<%= raw @statement_stats.total_statements_over_time.to_json %>)
</script>
