<h1>Modern Slavery Act Registry</h1>

<table>
  <tbody>
    <% @statements.each do |statement| %>
      <tr>
        <th><%= link_to statement.company.name, statement.company %></th>
        <th data-content="statement-url"><%= statement.url %></th>
        <th><%= statement.signed_by_director %></th>
      </tr>
    <% end %>
  </tbody>
</table>
