<%= form_for company do |f| %>
  <div class="field">
    <p class="control">
      <%= f.label :name, class: 'label' do %>
        Company Name
        <%= f.text_field :name, class: 'input' %>
      <% end %>
    </p>
  </div>

  <div class="field">
    <p class="control">
      <%= f.button "Submit", class: 'button is-primary' %>
    </p>
  </div>
<% end %>
