<% title 'New Company' %>

<div class="container">
  <div class="section">
    <div class="columns">
      <div class="column">
        <h2 class="title is-2"><%= @company.statements.any? ? 'Submit Statement' : 'Submit Company' %></h2>
        <%= render partial: 'company_form', locals: { company: @company } %>
      </div>
      <div class="column content">
        <p>
          The Modern Slavery Registry was established as a resource for the public so that everyone can find out what steps companies are taking to eliminate slavery from their supply chains. It is estimated that between 12,000-17,000 companies will publish statements under the UK Modern Slavery Act. Finding these statements and adding them to the Registry is time consuming, so we welcome the many people who contact us to ask if they can help us by adding statements or to submit their own company’s statement to the Registry.
        </p>
        <p>
          You can use this form to do this. After you submit a statement to us, it will be reviewed and, if accepted, uploaded to the Registry. We take time to verify each statement carefully so that that information on the Registry is both useful and credible. We will also add the country of headquarters and industry for each statement.
        </p>
        <p>
          If the statement you are submitting covers multiple entities, please email Patricia Carrier at <a href="mailto:carrier@business-humanrights.org">carrier@business-humanrights.org</a> and provide the names of the entities covered by the statement. We will ensure those entities are entered into the Registry.
        </p>
        <p>
          If your company does not have a website and you would like to submit a document, please send it to Patricia Carrier at <a href="mailto:carrier@business-humanrights.org">carrier@business-humanrights.org</a> who will add it to the Modern Slavery Registry.
          </p>
        <p>
          Thank you for contributing to the Modern Slavery Registry!
        </p>
      </div>
    </div>
  </div>
</div>
