<% if object.errors.any? %>
  <div class="notification is-danger">
    <h2><%= pluralize(object.errors.count, "error") %> prohibited this <%= object.class.name.humanize.downcase %> from being saved:</h2>

    <ul data-content="validation_errors">
    <% object.errors.full_messages.each do |msg| %>
      <li data-content="validation_error"><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
