//chosen-container chosen-container-multi chosen-with-drop chosen-container-active

.XXchosen-container-multi {
  .chosen-choices li {
    &.search-field {
      input[type="text"] {
        height: 2.25em;
        border: 1px solid #dbdbdb;
        font-size: 1.25rem;
      }
    }
  }
}
