.chosen-container-multi {
  ul.chosen-choices {
    font-size: 16px;

    background-image: none;
    border-radius: 3px;
    border: 1px solid #f4f4f3;
    color: #404044;
    box-shadow: inset 0 1px 2px rgba(38, 38, 42, 0.1);

    li.search-field {
      input[type="text"] {
        height: 32px;
      }
    }
    li.search-choice {
      margin: 4px 5px 4px 0;
      padding: 6px 20px 6px 5px;

      .search-choice-close {
        top: 7px;
      }
    }
  }
}
