.c-mark {
  padding: 3px 2px 3px 19px;
  background-color: white;
  border-radius: 43px;
  margin: 0 0 0 5px;
  color: black;
  position: relative;
  p {
    position: absolute;
    top: 1px;
    right: 7px;
  }
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 7px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    width: 234px;
    left: 0;
    margin-left: -18px;
    opacity: 0;
    transition: opacity 0.3s;
    word-wrap: break-word;
    text-align: left;
    white-space: pre-line;
    padding: 12px 22px 14px 26px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 18%;
  margin-left: -19px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.container {
  width: 1140px;
  max-width: calc(100% - 40px);
  margin: 0 auto;
}

// VARIABLES

$grey: #f7f7f7;
$darkgrey: #cccccc;
$teal: #13b3a6;
$yellow: #ffcd00;
$lightgreen: #e6f3e8;
$lightyellow: #fef8dc;
$lightpurple: #dfdff1;
$lightblue: #dfeaf1;

// SECTION

.section {
  padding: 2em 0;
}

.section--grey {
  background: $grey;
}


// FORMS

.statements-search-form {
  &[aria-hidden="true"] {
    display: none;
  }

  &[aria-hidden="false"] + .search-results-header {
    display: none;
  }
}

.form-group {
  border: none;
  padding: 0;

  & + .form-group {
    margin-top: 1.5em;
  }

  .search-row + & {
    margin-top: 1.5em;
  }

  input[type="text"],
  input[type="email"],
  input[type="search"],
  input[type="password"],
  textarea {
    padding: 0.75em;
    border: 1px solid $darkgrey;
    border-radius: 2px;
    background: #fff;
    color: #333;

    &:focus {
      outline: 2px solid $yellow;
      outline-offset: 2px;
    }
  }

  .form-control--full {
    width: 100%;
    display: block;
  }

  input[type="search"] {
    background-image: image-url("search.svg");
    background-size:  24px;
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
  }
}

.form-label {
  display: block;
  font-size: 1em;
  margin: 0 0 0.5em;
  font-weight: 400;
}

.form-label--visuallyhidden {
  opacity: 0;
}

.search-row {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -7.5px;

  & + .search-row {
    margin-top: 1.5em;
  }
}

.search-column {
  flex: 0 1 auto;
  width: calc(33.33333% - 15px);
  vertical-align: bottom;
  min-width: 350px;
  margin: 0 7.5px;
}

.search-column--double {
  width: calc(66.66666% - 15px);
}

.radios {

}

.radios--inline {
  .radio {
    display: inline-block;
    margin-right: 20px;

    & + .radio {
      margin: 0 20px 0 0;
    }
  }
}

.radio {
  position: relative;
  
  input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

  label {
    padding-left: 30px;
    position: relative;
    
    &:before {
      width: 20px;
      height: 20px;
      border-radius: 100px;
      border: 1px solid $darkgrey;
      background: #fff;
      position: absolute;
      content: " ";
      top: 0;
      left: 0;
      z-index: 10;
    }

    &:after {
      width: 8px;
      height: 8px;
      border-radius: 100px;
      position: absolute;
      content: " ";
      background: transparent;
      top: 6px;
      left: 6px;
      z-index: 100;
    }
  }

  input:checked + label {
    &:before {
      border-color: $teal;
    }

    &:after {
      background: $teal;
    }
  }

  input:focus + label:before {
    outline: 2px solid $yellow;
    outline-offset: 3px;
  }
}

.checkbox {
  position: relative;
  
  input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

  label {
    padding-left: 40px;
    position: relative;
    
    &:before {
      width: 25px;
      height: 25px;
      border-radius: 2px;
      border: 1px solid $darkgrey;
      background: #fff;
      position: absolute;
      content: " ";
      top: -4px;
      left: 0;
      z-index: 10;
    }

    &:after {
      width: 14px;
      height: 9px;
      border-left: 3px solid transparent;
      border-bottom: 3px solid transparent;
      transform-origin: 50% 50%;
      transform: rotate(-45deg);
      position: absolute;
      content: " ";
      background: transparent;
      top: 3px;
      left: 6px;
      z-index: 100;
    }
  }

  input:checked + label {
    &:before {
      border-color: $teal;
    }

    &:after {
      border-left-color: $teal;
      border-bottom-color: $teal;
    }
  }

  input:focus + label:before {
    outline: 2px solid $yellow;
    outline-offset: 3px;
  }
}

.form-actions {
  margin-top: 2em;
}

.button {
  font-weight: 500;
  font-size: 1.111111em;
  padding: 0.65em 2em;
  height: auto;
  line-height: 1
}

.button--link {
  background: transparent;
  color: $teal;
  border: none;
  text-decoration: underline;
  font-weight: 400;
  
  &:focus,
  &:hover {
    color: darken($teal, 5%);
    background: transparent;
    border: none;
  }
}

.or {
  display: block;
  color: #333;
  margin: 2em 0;
  position: relative;
  height: 0px;
  
  &::after {
    background: $grey;
    content: "or";
    display: block;
    padding-right: 1em;
    color: #333;
    z-index: 99;
    position: absolute;
    top: -0.75em;
    left: 0;
    font-size: 1.25em;
    font-weight: 400;
  }
  
  &:before {
    content: " ";
    width: 100%;
    height: 2px;
    background: $darkgrey;
    display: block;
  }
}

h5 {
  font-weight: 600;
  margin-bottom: 0.75em;
  font-size: 1.25em;
}

h3 {
  font-weight: 600;
  font-size: 2em;
  margin-bottom: 0.65em;
}

// SELECT2

.select2-container {
  width: 100% !important;
}

.select2-selection--multiple {
  border-color: $darkgrey !important;
  min-height: 38px !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border-color: $teal !important;
  outline: 2px solid $yellow !important;
  outline-offset: 2px !important;
}

.select2-dropdown.select2-dropdown--below {
  border-color: $teal !important;
}

.select2-results__option--highlighted {
  background: $teal !important;
}

.select2-results__option {
  padding: 0.25em 0.5em !important;
}

.select2-results__option .select2-results__option {
  
}

.select2-search__field {
  position: relative;
  top: 3px;

  &:focus {
    outline: 0 !important;
  }
}

.select2-results__group {

}

.select2-results__options.select2-results__options--nested {

}

.select2-selection__choice {
  border: none !important;
  display: inline-block !important;
  padding: 0.5em 2.5em 0.5em 0.5em !important;
  position: relative !important;
  margin-top: 10px !important;
  margin-right: 10px !important;
  white-space: normal !important;
}

.select2-selection__choice__remove {
  position: absolute !important;
  right: 0.5em !important;
  top: 0.7em !important;
  height: 20px;
  width: 20px;
  text-indent: -9999px;
  overflow: hidden;
  background: image-url("close.svg") no-repeat center center;
  background-size: contain;
}

.select2-selection__choice + .select2-search.select2-search--inline {
  padding: 0.8em 0;
}

.select2-selection__rendered {
  padding: 0 10px !important;
}

.select2--keywords + .select2-container {
  .select2-selection--multiple {
    padding-right: 45px;
    background-image: image-url("search.svg");
    background-size:  24px;
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) 6px;
  }

  .select2-selection__choice {
    background-color: $lightgreen !important;
  }
}

.colored-select2 + .select2-container {
  .select2-selection--multiple {
    padding-right: 45px;
    background-image: image-url("chevron-down.svg");
    background-size:  26px;
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) 7px;
  }
}

.colored-select2.yellow + .select2-container {
  .select2-selection__choice {
    background-color: $lightyellow !important;
  }
}

.colored-select2.purple + .select2-container {
  .select2-selection__choice {
    background-color: $lightpurple !important;
  }
}

.colored-select2.blue + .select2-container {
  .select2-selection__choice {
    background-color: $lightblue !important;
  }
}

.search-results-header {
  h5 {
    font-weight: 400;

    a {
      font-size: 1rem;
      font-weight: 600;
      display: inline-block;
      margin-left: 20px;
      text-decoration: underline;
      
    }
  }
}