.Wallop-pagination {
  text-align: center;
}

.Wallop-dot {
  text-indent: -9999px;
  border: 0;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  padding: 0;
  margin: 5px;
  background-color: #ccc;
  -webkit-appearance: none;
}

.Wallop-dot--current {
  background-color: #000;
}
