<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for your contribution!</h1>
    <p>
      We will now review the statement to verify it is located on the company
      website and add the company's country of headquarters &amp; industry. We
      will then add the statement to our Registry and publish it on the website.
    </p>
    <p>
      Follow us <a href="https://twitter.com/ModSlaveryReg">@ModSlaveryReg</a>
      for updates on new statements, examples of best practice, and the latest
      news and guidance on modern slavery reporting.
    </p>
    <p>
      Sincerely,
      <br />
      Modern Slavery Registry
    </p>
    <p>
      Powered by Business &amp; Human Rights Resource Centre
      <a href="https://businesshumanrights.org">businesshumanrights.org</a>
    </p>
  </body>
</html>
