<% title 'Admin: Stats' %>

<div class="container">
  <div class="section">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li class="is-active"><a href="#" aria-current="stats">Stats</a></li>
      </ul>
    </nav>

    <div class="columns">
      <div class="column">
        <h1 class="title is-1">
          Stats
        </h1>
      </div>
    </div>
  </div>
</div>
