<div class="search-results__sidebar">
  <h3>Stats for the companies displayed</h3>
  <h5>Compliance with minimum requirements</h5>
  <p>
    These figures are based on the most recent 7637 statements from all companies publishing under the UK Modern Slavery Act in our register. They were last updated on 17th March 2020.
  </p>
  <br>
  <div class="stats">
    <dl class="title-like">
      <dt>
        Meet all minimum requirements
      </dt>
      <dd>
        1756 (23%)
      </dd>
    </dl>
    <dl>
      <dt>Have a statement published on the company's website with a link on the homepage</dt>
      <dv></dv>
    </dl>
  </div>
</div>