<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-two-thirds">
        <div class="box">
          <%= render partial: 'search_form' %>
        </div>
        <div class="box">
          <%= render partial: 'list', locals: {companies: @companies} %>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <div id="world-map"></div>
        </div>
        <div class="box">
          <%= image_tag "https://placeholdit.imgix.net/~text?txtsize=33&txt=Sector%20Chart&w=350&h=150" %>
        </div>
      </div>
    </div>
  </div>
</section>
