<section class="section">
  <div class="container">
    <div class="columns has-text-centered">
      <div class="column is-offset-one-quarter is-half">
        <h1 class="title">No statements found</h1>
        <p>
          We couldn't find a company or statement matching your search.
          If you think the registry is missing a statement for a company,
          you can help by submitting a link to the statement.
        </p>
        <br>
        <p>
          <%= link_to 'Submit a statement', new_company_statement_companies_path,
            class: 'button is-medium is-primary' %>
        </p>
      </div>
    </div>
  </div>
</section>
