<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>Modern Slavery Registry</strong> by <a href="https://business-humanrights.org/">Business &amp; Human Rights Resource Centre</a>
      </p>
      <p>
        <% if user_signed_in? %>
          <%= link_to('Logout', destroy_user_session_path, method: 'delete') %>
        <% else %>
          <%= link_to('Login', new_user_session_path) %>
        <% end %>
      </p>
    </div>
  </div>
</footer>
