<nav class="nav">
  <div class="nav-left">
    <a class="nav-item" href="/">
      <%= image_tag 'msr.png' %>
    </a>
  </div>

  <div class="nav-right">
    <a class="nav-item" href="https://business-humanrights.org/">
      <%= image_tag 'bhrrc.png' %>
    </a>
  </div>
</nav>
