<header class="is-dark-navy">
  <div class="container">
    <nav class="nav is-dark-navy">
      <div class="nav-left">
        <div class="nav-item">
          <a href="/">
            <%= image_tag 'logo.png', alt: "Modern Slavery Registry" %>
          </a>
        </div>
      </div>

      <span class="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
      </span>

      <div class="nav-right nav-menu">
        <% Page.include_drafts(admin?).as_list.each do |page| %>
          <%= link_to page.short_title, page_path(page), class: 'nav-item' %>
        <% end %>
      </div>

    </nav>

    <div class="container has-text-centered">
      <% if notice %>
        <div class="notification is-primary"><%= notice %></div>
      <% end %>
      <% if alert %>
        <div class="notification is-danger"><%= alert %></div>
      <% end %>
    </div>
  </div>
</header>
