<!DOCTYPE html>
<html>
  <head>
    <title>MsaRegistry</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="nav has-shadow" id="top">
      <div class="container">
        <div class="nav-left">
          <a class="nav-item" href="/">
            <h1 class="title is-1">UK Modern Slavery Act &amp; Registry</h1>
          </a>
        </div>
        <span class="nav-toggle">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
    </nav>
    <%= yield %>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZ-X1KvfDP7M8OXTi1BqeRmeLl6URzaLw&callback=initMap"></script>
  </body>
</html>
